<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6" IgnorableNamespaces="uap rescap desktop6">
  <Identity Name="Flarial.Launcher" Publisher="CN=Flarial" ProcessorArchitecture="x64" Version="2026.10.4.1318" />
  <Properties>
    <Logo>Assets\StoreLogo.png</Logo>
    <DisplayName>Flarial Launcher</DisplayName>
    <PublisherDisplayName>Flarial</PublisherDisplayName>
    <desktop6:RegistryWriteVirtualization>disabled</desktop6:RegistryWriteVirtualization>
    <desktop6:FileSystemWriteVirtualization>disabled</desktop6:FileSystemWriteVirtualization>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="und" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="Flarial.Launcher.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Flarial Launcher" Description="Flarial Launcher" BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" />
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="appDiagnostics" />
    <rescap:Capability Name="packageManagement" />
    <rescap:Capability Name="unvirtualizedResources" />
  </Capabilities>
</Package>